<header>
    <div class="container" >
        <a routerLink="/" class="logo">Burger King</a>
        <nav>
            <ul>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a></li>
                <li class="menu-container" *ngIf="isAuth">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/track">Order</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>